.enterUserDetailsLayout {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* This will behave like background-size: cover for the image */
    object-position: center;  /* This will center the image */
}

.enterUserDetailsImage{
    background-image: url("../../../assets/pictures/pexels-pixabay-53621.jpg");
    background-repeat: no-repeat;  /* This will prevent the image from repeating */
    background-position: center;  /* This will center the image */;
    background-size: cover;
}
